{% extends 'base.html' %}

{% block title %}Beginpagina{% endblock %}

{% block content %}
<div style="padding:20px">
    <h1>Onze missie</h1>
    <p>Bij Accessibility werken we aan een inclusieve samenleving waarin iedereen kan meedoen en tot zijn recht komt.<br>
        Steeds meer organisaties sluiten zich aan bij onze ambities. Al zoeken ze nog naar hoe ze dit voor elkaar kunnen krijgen.<br>
        Samen met onze klanten en partners bouwen we iedere dag aan een toegankelijker Nederland.<br> We zetten onze kennis en expertise in om fysieke, sociale én digitale omgevingen toegankelijk te maken; in het bijzonder voor mensen met een (visuele) beperking.<br> 
        Onze experts denken graag met hen mee en bieden begeleiding op maat. Dit doen zij in nauwe samenwerking met ervaringsdeskundigen.<br> Met onze trainingen, producten en diensten kan iedere organisatie morgen nog aan de slag met toegankelijkheid.<br> Zo vertalen we onze kennis naar joúw praktijk.<br> 
        Wij denken in mogelijkheden <b>– iedere dag opnieuw –</b> binnen jouw doelen en budget.<br> Zodat jouw organisatie doet waar jullie voor staan; voor collega’s, klanten en/of burgers.<br>
        Jouw investering in toegankelijkheid is waardevol voor jouw bedrijf én voor de samenleving. <br>Via Stichting Accessibility vloeit jouw investering terug naar projecten die bijdragen aan een toegankelijke en inclusieve samenleving. <br><br>Sluit ook bij ons aan!  
    </p>
    <strong>Wij zijn Accessibility, expert in toegankelijkheid.</strong>
</div>
{% endblock %}